<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Agnostic Development.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AgnosticDevelopmentAutomatedUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>AgnosticDevelopmentLatencyTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>AgnosticDevelopmentUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>300EDB3E1F7FD9F300BC2FC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30375B0D1F8E3BEC0055D13C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>308FE1911FB0E5A100DD9520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30959B0D1EAD3D1800954777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30959B211EAD3D1900954777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
